@using System
<style>
    
    .cs-key {
        min-width: 600px;
    }

    .cs-header {
        font-weight: bold;
    }
    
    .cs-key-expiration {
        width: 200px;
        float: left;
    }

</style>

<div id="cs-overview">
    
    <div id="cs-remote">
        
        <h2 id="cs-remote-header">Remote Cache Items</h2>
        
        <div class="cs-key cs-header">
            <div class="cs-key-expiration">Minutes Remaining</div>
            <div class="cs-key-name">Key Name</div>
        </div>      
        @foreach (var key in Model.RemoteKeys)
        {
            <div class="cs-key">
                <div class="cs-key-expiration">
                    @if (key.ExpirationDate != null)
                    {
                        <span>@Math.Round(((key.ExpirationDate.Value - DateTime.Now).TotalMinutes), 2)</span>
                    }
                    else
                    {
                        <span>No Expiration</span>
                    }
                </div>
                <div class="cs-key-name">@key.KeyName</div>
            </div>      
        }

    </div>
    
    <div id="cs-local">
        
        <h2 id="cs-local-header">Local Cache Items</h2>
        
        <div class="cs-key cs-header">
            <div class="cs-key-expiration">Minutes Remaining</div>
            <div class="cs-key-name">Key Name</div>
        </div>     
        @foreach (var key in Model.LocalKeys)
        {
            <div class="cs-key">
                <div class="cs-key-expiration">
                    @if (key.ExpirationDate != null)
                    {
                        <span>@Math.Round(((key.ExpirationDate.Value - DateTime.Now).TotalMinutes), 2)</span>
                    }
                    else
                    {
                        <span>No Expiration</span>
                    }
                </div>
                <div class="cs-key-name">@key.KeyName</div>
            </div>
        }

    </div>

</div>